<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import Vue Lib -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>App vue</title>
</head>

<body>
    <div id="app">
        <h1>Cadastro de Tarefas</h1>
        <form @submit.prevent="addTask">
            <input type="text" v-model="task" placeholder="Digite uma tarefa">
            <button type="submit">Adicionar</button>
        </form>
        <hr>
        <h1>Tarefas</h1>
        <span v-if="tasks.length == 0">Você não possui tarefas</span>
        <ul>
            <li v-for="(task, index) in tasks" :key="index">
                {{ task }}
            </li>
        </ul>
    </div>

    <!-- Import App Vue -->
    <script src="main.js"></script>
    <!-- Mount App vue on HTML Page -->
    <script>app.mount('#app')</script>
</body>

</html>